<div class="container">

  <h1>CHAI COFFEE SHOP</h1>
  <form action='/waiters/{{this.waiter_name}}' method="POST">

    {{!-- <div>
      <input type="text" name="names" class="nameEntered" value="" placeholder="enter your name">
    </div> --}}
    <br>
    <div class="days">
      <strong class="choose">Hi {{this.waiter_name}}, Choose the day(s) you would like to work on, don't choose more
        than 3 days:</strong>
      <br> <br>
      {{#each b}}
      {{!-- <label class="container"> --}}
        <input type="checkbox" name="checkmark" {{state}} value="{{this.weekday}}">
        <span class="checkmark">{{this.weekday}}</span>
      {{!-- </label> --}}
      {{/each}}

      <br> <br>
      <div class="flash">
        {{#if messages.error}}
        {{messages.error}}
        {{/if}}
      </div>

      <div class="success">
        {{#if messages.info}}
        {{messages.info}}
        {{/if}}
      </div>
      <br>
      <button class="button-primary" type="submit" name="button">SUBMIT</button>
      <button class="button-primary" type="submit" name="button"><a href="/waiters/">HOME</a></button>
    </div>
  </form>

</div>

<script>
  setTimeout(function () {
    document.querySelector(".flash").innerHTML = "";
    document.querySelector(".success").innerHTML = ""
  }, 2000);
</script>